<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title>upload</title>
    </head>
    <body class=bdy>
        <div class='main-content'>
            <%- include ("../partials/header") %>

        </div>
        

        <%- include ("../partials/footer") %>

    </body>
</html>